<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"><html><head><meta http-equiv="content-type" content="text/html;charset=utf-8"></meta><link rel="stylesheet" type="text/css" href="__STYLE__"></link></head><body>
<p class="MsoNormal"><b><span style="font-size:17.0pt;line-height:107%;
font-family:&quot;Georgia&quot;,serif;color:#323232;background:#F8F8F8">
Salary increase from offer notification<o:p></o:p></span></b></p>

<p class="MsoNormal"><b>{Описание}</b></p>
<table border="1" cellpadding="10px"><tbody><tr style="height: 13px;"><td style="height: 13px;">Сотрудник</td>
<td style="height: 13px;">{Сотрудник}</td>
</tr><tr style="height: 13px;"><td style="height: 13px;">Дата приема</td>
<td style="height: 13px;">{ДатаПриема}</td>
</tr><tr style="height: 13px;"><td style="height: 13px;">Исп.срок (мес.)</td>
<td style="height: 13px;">{ИспСрок}</td>
</tr><tr style="height: 13px;"><td style="height: 13px;">Дата окончания исп.срока</td>
<td style="height: 13px;">{ДатаОкончанияИспытательногоСрока}</td>
</tr><tr style="height: 13px;"><td style="height: 13px;">Организация</td>
<td style="height: 13px;">{Организация}</td>
</tr><tr style="height: 13px;"><td style="height: 13px;">Зарплата после испытательного срока:</td>
<td style="height: 13px;">{ЗарплатаПослеИспСрока}</td>
</tr><tr style="height: 13px;"><td style="height: 13px;">Зарплата через 6 мес:</td>
<td style="height: 13px;">{ЗарплатаЧерез6Мес}</td>
</tr><tr style="height: 13px;"><td style="height: 13px;">Зарплата через 9 мес:</td>
<td style="height: 13px;">{ЗарплатаЧерез9Мес}</td>
</tr><tr style="height: 13px;"><td style="height: 13px;">Зарплата через год:</td>
<td style="height: 13px;">{ЗарплатаЧерезГод}</td>
</tr></tbody></table></body></html>