<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"><html><head><meta http-equiv="content-type" content="text/html;charset=utf-8"></meta><link rel="stylesheet" type="text/css" href="__STYLE__"></link></head><body>
<p class="MsoNormal"><b><span style="font-size:17.0pt;line-height:107%;
font-family:&quot;Georgia&quot;,serif;color:#323232;background:#F8F8F8">
Выход нового сотрудника<o:p></o:p></span></b></p>

<p class="MsoNormal"> 
</p><table border="1" cellpadding="10px"><tbody><tr style="height: 13px;"><td style="height: 13px;">Сотрудник</td>
<td style="height: 13px;">{1}</td>
</tr><tr style="height: 13px;"><td style="height: 13px;">Дата выхода</td>
<td style="height: 13px;">{2}</td>
</tr><tr style="height: 13px;"><td style="height: 13px;">Офис</td>
<td style="height: 13px;">{3}</td>
</tr><tr style="height: 13px;"><td style="height: 13px;">Номер места</td>
<td style="height: 13px;">{4}</td>
</tr><tr style="height: 13px;"><td style="height: 13px;">Спеллинг</td>
<td style="height: 13px;">{Спеллинг}</td>
</tr><tr style="height: 13px;"><td style="height: 13px;">Создать аккаунт</td>
<td style="height: 13px;">{6}</td>
</tr><tr style="height: 13px;"><td style="height: 13px;">Пропуск</td>
<td style="height: 13px;">{7}</td>
</tr><tr style="height: 13px;"><td style="height: 13px;">Мобильный телефон</td>
<td style="height: 13px;">{8}</td>
</tr><tr style="height: 13px;"><td style="height: 13px;">Руководитель</td>
<td style="height: 13px;">{9}</td>
</tr><tr style="height: 13px;"><td style="height: 13px;">Должность</td>
<td style="height: 13px;">{10}</td>
</tr><tr style="height: 13px;"><td style="height: 13px;">Отдел</td>
<td style="height: 13px;">{11}</td>
</tr><tr style="height: 13px;"><td style="height: 13px;">Организовать рабочее место</td>
<td style="height: 13px;">{12}</td>
</tr><tr style="height: 13px;"><td style="height: 13px;">Организация</td>
<td style="height: 13px;">{13}</td>
</tr><tr style="height: 13px;"><td style="height: 13px;">Город</td>
<td style="height: 13px;">{14}</td>
</tr><tr style="height: 13px;"><td style="height: 13px;">Удаленная работа</td>
<td style="height: 13px;">{15}</td>
</tr><tr style="height: 13px;"><td style="height: 13px;"> </td>
<td style="height: 13px;"> </td>
</tr></tbody></table></body></html>